html {
    margin:0 auto;
    padding:0;
    width:80%;
    font-size:16px;
    font-family: 'Lucida Sans', sans-serif; /*fonts to use*/
    background-color: rgb(245, 236, 255); /*light purple background*/
}


/*specify font sizes for headings*/
h1 {
    font-size:44px;
    margin:0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    text-align: center;
} 

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

footer {
    border-top: 1px solid black;
    margin:40px 0px 20px 0px;
    padding-top:10px;
    font-size:12px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    width: 100%;
    border-bottom:2px solid black;
    padding:10px;
    text-align: center;
    color:rgb(0, 0, 0);
}
header h2 {
    text-align: center;
}

nav {
    width: 100%;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}
nav ul li {
    flex:1;
    text-align: center;
    border: 1px solid black; /*making nav items seem like buttons*/
    /* border-radius: 5px; */
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px 2px;
}

nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration:underline; /*show underline on hover to make it clear that this is something that can be clicked*/
}

img {
    border: 1px solid black;
    border-radius: 20px;
}

aside q {
  display: block;
  margin: 6px 0;
  text-indent: 20px;
}


.card { /*primary organizationary sections*/
    display:flex;
    flex-direction: column;
    border: 1px solid;
    padding:15px;
    margin-top: 40px;
    background-color:#ffffff;
}

nav li:has(a[aria-current="page"]) { /*if on current page, the li should be a different color*/
    background-color: #32004f;
}

nav li:has(a[aria-current="page"]) a { /*if on current page, the li text should be a different color*/
    color: white;
}

.card h4, .card img {
    align-self: center;
}

.characters {
    display: flex;
    gap: 15px;
}
.characters > * {
  flex: 1; 
}

.main-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-media div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.info {
    display: flex;
    justify-content: space-between;
}


.center-images {
    display:flex;
    gap: 5px;
}

.center-images figure {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
}
.center-images figure img {
    width: 100%;
    border-radius: 0px;
    border-style: none;
}
.center-images figure figcaption{ 
    background-color:#32004f;
    color: white;
    font: italic smaller sans-serif;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.flow-left {
    float: left;
    margin-right: 10px;
}
.flow-right {
    float: right;
    margin-left: 10px;
}
.short-series {
    display: flex;
    gap:20px;
    list-style: none;
}

.secondary { /*2 column grid*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

details {
    padding: 10px;
}

.answer {
    text-indent: 60px;
}

.main-book {
    border: none;
    align-self: center;
}

.large-quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #32004f;
    margin: 20px 0px 20px 0px;
}
.single-quote p {
    text-align: center;
    color: white;
}
table {
    padding: 20px;
    border:solid 2px #32004f
}
table td, table th {
    padding: 10px;
    border: 1px solid #32004f; 
}
.center {
    display:flex;
    justify-content: center;
	text-align: center;
}

.sophie-card{
    padding: 0;  
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}

.sophie-text{
    flex: 1;
    padding: 15px;
}
.sophie-pic{
    flex: 1;
    min-height: 450px;  
    background-image: url("../images/kotlc/sophie.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
